.ReactModal__Overlay { // modal animations
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

::-webkit-scrollbar { // hide scrollbar to make transition smoother
    display: none;
}